{% extends "layout.html" %}

{% block pageTitle %}
Career aspirations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Career aspirations</h1>

    <form class="form" action="/check-answers" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
            Possible next role
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          Please specify whether you are considering a lateral move or promotion, and any details regarding the field, specialism or department you would like to move to. If your intended move is outside the CS this is also useful information.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What is the expected timing of your next move?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="expected-timing" name="expected-timing" type="radio" value="Within 3 months">
              <label class="govuk-label govuk-radios__label" for="expected-timing">
                Within 3 months
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="expected-timing" name="expected-timing" type="radio" value="Within 6 months">
              <label class="govuk-label govuk-radios__label" for="expected-timing">
                Within 6 months
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="expected-timing" name="expected-timing" type="radio" value="Within 12 months">
              <label class="govuk-label govuk-radios__label" for="expected-timing">
                Within 12 months
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="expected-timing" name="expected-timing" type="radio" value="12-24 Months">
              <label class="govuk-label govuk-radios__label" for="expected-timing">
                12 - 24 months
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="expected-timing" name="expected-timing" type="radio" value="24 Months plus">
              <label class="govuk-label govuk-radios__label" for="expected-timing">
                24 months plus
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
            What are your long-term career aspirations?
          </label>
        </h1>
        <textarea class="govuk-textarea" id="long-term-aspirations" name="long-term-aspirations" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Would you be willing to relocate?
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            If you are already considering relocating then please select yes
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="relocation" name="relocation" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="relocation">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="relocation" name="relocation" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="relocation">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="relocation" name="relocation" type="radio" value="Not at the current time">
              <label class="govuk-label govuk-radios__label" for="relocation">
                Not at the current time
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
            Additional information
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          If you said you would be willing to relocate, please describe locations you are willing to be based in, and preferred working patterns (job share, part time etc)
        </div>
        <textarea class="govuk-textarea" id="career-summary" name="career-summary" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Would you like to be contacted by a careers professional to discuss your aspirations?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="career-advice" name="career-advice" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="career-advice">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="career-advice" name="career-advice" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="career-advice">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Save & Continue</button>
    </form>

  </div>
</div>

{% endblock %}
