{% extends "layout.html" %}

{% block pageTitle %}
Career aspirations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Career support and moves</h1>

    <form class="form" action="/career-aspirations" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="interventions-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Supporting your career
      </h1>
    </legend>
    <div id="interventions-hint" class="govuk-hint">
      Are you currently using, or have you used in the last 12 months, any of the following talent interventions to support you in considering and planning your career?
    </div>
    <div id="interventions-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Line manager">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Career conversations
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Mentoring">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Mentoring
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Coaching">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Coaching
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Development schemes">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Development schemes
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Work placement and Interchanges">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Work placement and Interchanges
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="External networks">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          External networks
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Job shadowing">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Job shadowing
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Voulnteering">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Voulnteering
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Sponsoring">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Sponsoring
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="Other">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          Other
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="interventions" name="interventions" type="checkbox" value="None">
        <label class="govuk-label govuk-checkboxes__label" for="interventions">
          None
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Would you consider a secondment or loan as part of your career journey?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secondment-opportunity" name="secondment-opportunity" type="radio" value="1-3 years">
              <label class="govuk-label govuk-radios__label" for="secondment-opportunity">
                Yes, within the next 1 - 3 years
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secondment-opportunity" name="secondment-opportunity" type="radio" value="Planned">
              <label class="govuk-label govuk-radios__label" for="secondment-opportunity">
                Yes, have one already planned
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secondment-opportunity" name="secondment-opportunity" type="radio" value="Already completed">
              <label class="govuk-label govuk-radios__label" for="secondment-opportunity">
                Yes, have already completed one
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="secondment-opportunity" name="secondment-opportunity" type="radio" value="Not at present ">
              <label class="govuk-label govuk-radios__label" for="secondment-opportunity">
                Not at present 
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="moving-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Would you consider moving?
      </h1>
    </legend>
    <div id="moving-hint" class="govuk-hint">
      Would you consider career progression opportunities across the Civil Service which could include movement to another Government professions/function?
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="moving" name="moving" type="checkbox" value="Department">
        <label class="govuk-label govuk-checkboxes__label" for="moving">
          Department
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="moving-2" name="moving" type="checkbox" value="Profession">
        <label class="govuk-label govuk-checkboxes__label" for="moving-2">
          Profession
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="moving-3" name="moving" type="checkbox" value="Function">
        <label class="govuk-label govuk-checkboxes__label" for="moving-3">
          Function
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="moving-4" name="moving" type="checkbox" value="No">
        <label class="govuk-label govuk-checkboxes__label" for="moving-4">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Your next career move is?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="focus" name="focus" type="radio" value="Lateral move">
              <label class="govuk-label govuk-radios__label" for="focus">
                Lateral move
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="focus" name="focus" type="radio" value="Promotion">
              <label class="govuk-label govuk-radios__label" for="focus">
                Promotion
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="focus" name="focus" type="radio" value="Retirement">
              <label class="govuk-label govuk-radios__label" for="focus">
                Retirement
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="focus" name="focus" type="radio" value="Not considering a move">
              <label class="govuk-label govuk-radios__label" for="focus">
                Not considering a move
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Save & Continue</button>
    </form>

  </div>
</div>

{% endblock %}
