{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Return complete</h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>TAL-2123F</strong>
      </div>
    </div>
    <form action="/profile-complete" method="post" novalidate>
      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to The Talent Management Team.</p>
      <p>Your information will be processed and you will be contacted by your line manager to discuss the outputs.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

      <button class="govuk-button" data-module="govuk-button">
        Home
      </button>

  </div>
</div>

{% endblock %}
