{% extends "layout.html" %}

{% block pageTitle %}
Education, qualifications & training – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Education, qualifications & training</h1>

    <form class="form" action="strengths-development-priorities" method="post">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="professional-membership">
          Membership of professional bodies?
        </label>
      </h1>
      <textarea class="govuk-input" id="professional-membership" name="professional-membership" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Have you considered any further qualifications or training?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="considering-future-qualifications" name="considering-future-qualifications" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="considering-future-qualifications">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="considering-future-qualifications" name="considering-future-qualifications" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="considering-future-qualifications">
              No
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="considering-future-qualifications" name="considering-future-qualifications" type="radio" value="Maybe">
            <label class="govuk-label govuk-radios__label" for="considering-future-qualifications">
              Maybe
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="qualifications">
          Qualifications obtained and past development programmes completed?
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Please include details of all relevant qualifications & accreditation.
      </div>
      <textarea class="govuk-textarea" id="qualifications" name="qualifications" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="future-qualifications">
          Qualifications/programmes currently undertaking?
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Are you currently undertaking any qualifications (including apprenticeships)?
      </div>
      <textarea class="govuk-textarea" id="future-qualifications" name="future-qualifications" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
          Possible future qualifications/development programmes.
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Are you currently currently or previousley involved in any development programmes, departmental talen schemes etc?
      </div>
      <textarea class="govuk-textarea" id="development-programmes" name="development-programmes" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

      <button class="govuk-button" data-module="govuk-button">Save & Continue</button>
    </form>
  </div>
</div>
{% endblock %}
