{% extends "layout.html" %}

{% block pageTitle %}
Personal Information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Personal information</h1>

    <form class="form" action="/role-information" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <input class="govuk-input" id="first-name" name="first-name" type="text" spellcheck="false" autocomplete="name">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        <input class="govuk-input" id="last-name" name="last-name" type="text" spellcheck="false" autocomplete="name">
      </div>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            What is your address?
          </h3>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
        </div>

      </fieldset>

      <button class="govuk-button" data-module="govuk-button">Save & continue</button>

    </form>

  </div>
</div>

{% endblock %}
