{% extends "layout.html" %}

{% block pageTitle %}
Previous roles – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Previous role - 1</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Department
      </label>
      <select class="govuk-select govuk-!-width-full" id="department-1" name="department-1">
        <option value="-" selected>-</option>
        <option value="Cabinet Office">Cabinet Office</option>
        <option value="Department for Education">Department for Education</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
        <option value="dept">dept</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="role">
        Role
      </label>
      <input class="govuk-input" id="role" name="role-1" type="text-1" spellcheck="true">
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Start date
          </h1>
        </legend>
        <div id="dob-hint" class="govuk-hint">
          For example, 31 3 1980
        </div>
        <div class="govuk-date-input" id="dob">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            End date
          </h1>
        </legend>
        <div class="govuk-date-input" id="dob">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="more-detail">
        Do you want to add any supporting information about the role?
      </label>
      <textarea class="govuk-textarea" id="more-detail-1" name="more-detail-1" rows="5"></textarea>
    </div>

    <form class="form" action="/previous-role-2" method="post">
      <button class="govuk-button" data-module="govuk-button">Add another</button>
    </form>

  </div>
</div>

{% endblock %}
