{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/login">Talent Portal</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="profile">Profile</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important information
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            The 2022 talent biography is now open for submissions
            <a class="govuk-notification-banner__link" href="personal-information">Start your biography</a>.
          </p>
        </div>
      </div>

      <h1 class="govuk-heading-xl">
        Welcome, William
      </h1>
      <p class="govuk-body-l">
        <a href="task-list" class="govuk-link">Continue your 2022 submission</a>
      </p>
      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <a href="login" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Ralated content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/apprenticeships-where-next">
                Apprenticeships; where next?
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/line-managers-guide">
                Line Managers Guide
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/hear-from-your-head-of-profession">
                Hear from your Head of Profession
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/your-odp-apprenticeship-offer">
                Your ODP Apprenticeship Offer
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/privacy-notice-odp-central-team">
                Privacy notice
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
