{% extends "layout.html" %}

{% block pageTitle %}
Role Information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Current role</h1>

    <form class="form" action="/previous-role-1" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Department
        </label>
        <select class="govuk-select govuk-!-width-full" id="department" name="department">
          <option value="-" selected>-</option>
          <option value="Cabinet Office">Cabinet Office</option>
          <option value="Department for Education">Department for Education</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
          <option value="dept">dept</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="role">
          Role
        </label>
        <input class="govuk-input" id="role" name="role" type="text" spellcheck="true">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="work-location">
          Work location
        </label>
        <input class="govuk-input" id="work-location" name="work-location" type="text" spellcheck="true">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="grade">
          Grade
        </label>
        <input class="govuk-input" id="grade" name="grade" type="text" spellcheck="true">
      </div>

      <button class="govuk-button" data-module="govuk-button">Save & continue</button>

    </form>

  </div>
</div>

{% endblock %}
