{% extends "layout.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Create a password
    </h1>

    <p class="govuk-body-l">
      For the purpose of the protype we are not creating accounts
    </p>

    <p class="govuk-body-l">
      This is a holding page - Click (Create password) to continue
    </p>

    <form class="form" action="/profile" method="post">
      <button class="govuk-button" data-module="govuk-button">Create password</button>
    </form>

    <p class="govuk-body-l"><label class="govuk-label govuk-label--s" for="event-name">
        Already have an account?
      </label>
      <a href="login" class="govuk-link">Log in</a>
    </p>

  </div>
</div>

{% endblock %}
