{% extends "layout.html" %}

{% block pageTitle %}
Strengths & development priorities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Strengths & development priorities</h1>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
          Summary of your development priorities?
        </label>
      </h1>
      <form class="form" action="/career-aspirations" method="post">
        <div id="more-detail-hint" class="govuk-hint">
          What do you need for your career aspirations (e.g. build leadership capabilities, development of line management ability, specialised knowledge or functional/technical skills)?
        </div>
        <textarea class="govuk-textarea" id="development-summary" name="development-summary" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
          Summary of your key strengths?
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        What do you consider to be your 3 key strengths that have been identified over your career?
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          First key strength
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="key-strength-one" name="key-strength-one" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Second key strength
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="key-strength-two" name="key-strength-two" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Third key strength
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="key-strength-three" name="key-strength-three" type="text">
      </div>
    </div>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
          What centrally coordinated activtiies would help your development??
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        For instance, managed moves, leadership learning, technical learning mentoring, support for applications eg SLS, HPDS
      </div>
      <textarea class="govuk-textarea" id="developmental-activities" name="developmental-activities" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <button class="govuk-button" data-module="govuk-button">Save & Continue</button>
    </form>

  </div>
</div>

{% endblock %}
