{% extends "layout.html" %}

{% block pageTitle %}
Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--pink">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a full service. It is not production code and you might experience problems.
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="service-landing">Talent home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="profile">Profile</a>
    </li>
  </ol>
</div>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Talent return
    </h1>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Return incomplete</h2>
    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Check before you start
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="personal-information" aria-describedby="eligibility-status">
                About you
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="personal-information">In progress</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> About your roles
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="role-information" aria-describedby="role-information">
                Current role
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="previous-role-1">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="previous-role-1" aria-describedby="previous-role-1">
                Previous role 1
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="previous-role-2">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="previous-role-2" aria-describedby="previous-role-2">
                Previous role 2
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="previous-role-2">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="previous-role-3" aria-describedby="previous-role-3">
                Previous role 3
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="previous-role-3">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="previous-role-4" aria-describedby="previous-role-4">
                Previous role 4
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="previous-role-4">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="experience" aria-describedby="experience">
                Experience
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="experience">Not started</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Your development
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="education-qualifications-training" aria-describedby="education-qualifications-training">
                Education, qualifications & training
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="education-qualifications-training">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="strengths-development-priorities" aria-describedby="strengths-development-priorities">
                Strengths & development priorities
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="strengths-development-priorities">Not started</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Career aspirations
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="career-aspirations" aria-describedby="career-aspirations">
                Aspirations
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="career-aspirations">Not started</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Check & submit
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="check-answers" aria-describedby="check-answers">
                Aspirations
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="check-answers">Not started</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
